
@{
    ViewBag.Title = "RegistroExitoso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>El registro de tu hora medica fue exitoso</h1>
<a class="btn btn-danger" href="@Url.Action("Crear", "Mantenedor")">Volver</a>

